/*
      ==========================
             public Styles
      ==========================
*/
* , *:after, *:before{
margin: 0;
padding: 0;
}

body{
    font-family: lucida Sans;
    height: 1500px;
}
.container { 
    margin: auto;
    width: 85% ;
}
/*
      ==========================
             Navbar Styles
      ==========================
*/

.Navbar {
    padding: 20px 0px;
    background-color: #fff;
    overflow: hidden;
    position: relative;
}
.Navbar .Logo {
    width: 50%;
    float: left;
}
.Navbar .ul-list{
    width: 50%;
    float: left;
    list-style: none;
}
.Navbar input , .Navbar label {
    position: absolute;
    top: 15px;
    right: 25px;
}
.Navbar label{
    display: block;
    width: 11px;
    height: 8px;
    background-image: url('./Images/Navbar/Open-menu.png');
    background-size: cover;
    padding: 15px;
    cursor: pointer;

}
.Navbar input{
    display: none;
}
.Navbar .Logo .Logo-text{
    font-size: 30px;
    font-weight: bold;
}
.Navbar .ul-list .list-item {
    display: inline-block;
    
}
.Navbar .ul-list .list-item a{
    display: block;
    color: #222;
    text-decoration: none;
    padding: 10px 15px;
    font-weight: bold;
}
.Navbar .ul-list .list-item a:hover {
    color: #eb5424;
}
.Navbar input:checked ~ .ul-list{
    display: block;
}
.Navbar input:checked ~ label{
    background-image: url('./Images/Navbar/Close-menu.png');
    background-size: cover;
}

/*
      ==========================
             Home Styles
      ==========================
*/
.home{
    background-image: url('./Images/Home/Home.jpg');
    background-size: cover;
    text-align: center;
    background-position: center;
    height: 500px;
    position: relative;
}

.home .home-information {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.home .home-information .home-title{
    font-size: 60px;
    font-weight: bold;
    color: #5e5e5e;
    margin-bottom: 20px;
}
.home .home-information .home-info{
font-size: 35px;
color: #eb5424;
margin-bottom: 10px;
}

.home .home-information .home-desc{
font-size: 20px;
line-height: 1.5;
color: #888;
margin-bottom: 20px;

}
.home .home-information .home-desc span{
color: #545252
}
.home .home-information .home-btn{
background: #eb5424;
color: #fff;
width: 150px;
font-size: 18px;
border: 0;
padding: 15px;
cursor: pointer;
}
.home .home-information .home-btn:hover{
    background: #dedede;
    color: #eb5424;

}

/*
      ==========================
             Work Styles
      ==========================
*/
.work{
    height: auto;
    padding: 50px 0;
    background: #fff;
    overflow: hidden;
}
.work .work-title{
    font-size: 60px;
}
.work .work-title span{
    font-weight: normal;
}
.work .part{
    margin-top: 20px;
    margin-left: 5%;
    box-sizing: border-box;
    width: 30%;
    float: left;
    height: auto;
    padding: 100px 0px;
    border: 1px solid rgb(129, 129, 129);
    text-align: center;
}
.work .first-part{
    margin-left: 0%;

}
.work .part .icon{
    color: rgb(129, 129, 129);
    margin-bottom: 20px;
}
.work .part .part-title{
    font-size: 25px;
    color: #eb5424;
    margin-bottom: 20px;
}
.work .part .line{
    width: 60%;
    color: rgb(129, 129, 129);
    margin: auto;
    margin-bottom: 20px;
}
.work .part .part-desc{
    font-size: 14px;
    padding: 20px;
    color: #5e5e5e
}

/*
      ==========================
             Portfolio Styles
      ==========================
*/
.portfolio{
    background: #e6e4e4;
    overflow: hidden;

}
.portfolio .portfolio-title{
    font-size: 35px;
    text-align: center;
    padding-top: 7px;
}
.portfolio .portfolio-title span{
    font-weight: normal;
}
.portfolio .portfolio-list{
    text-align: center;
    list-style: none;
    margin: 20px 0px
}
.portfolio .portfolio-item{
    display: inline-block;
    width: 100px;
    color: #5e5e5e;
    padding: 5px;
}
.portfolio .active{
color: #fff;
background: #eb5424;
}
.box div{
    width: 25%;
    float: left;
    font-size: 0;
    position: relative;
}
.box div img{
    width: 100%;
    height: 250px;
}
.box div .overlay{
    font-size: 15px;
    position: absolute;
    background:rgba(235, 84, 36, 0.5);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
}
.box div .overlay span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #fff;
    display: block;
    padding: 10px 20px;
    cursor: pointer;
    border: 1px solid rgba(235, 84, 36, 1)

}
.box div:hover .overlay{
    opacity: 1;
}


/*
      ==========================
             Media Query Styles
      ==========================
*/

@media (max-width : 768px){
    .work .part{
        width: 47%;
    }
    .work .last{
        margin-left: 0%;
    }
    .box div{
        width: 50%;
    }
    .box div .overlay span{
        padding: 10px 15px;
    
    }
    .box div .overlay{
        font-size: 12px;
    }
}
@media (max-width : 575px){
    .work .part{
        width: 100%;
        margin-left: 0px;
    }
}

@media (min-width : 933px){
    .Navbar label{
        display: none;
    }
}

@media (max-width : 933px){
    .Navbar .Logo{
        width: 100%;
        float: left;
    }
    .Navbar .ul-list{
        width: 100%;
        float: left;
        margin-top: 20px;
        display: none;
    }
    .Navbar .ul-list .list-item{
        display: block;
        text-align: center;
    }
    
}
@media (max-width : 873px){
    .home .home-information .home-title{
        font-size: 35px;
        margin-bottom: 10px;
        color: #5e5e5e;
    }
    .home .home-information .home-info{
        font-size: 20px;
    }
    .home .home-information .home-desc{
       font-size: 15px;
       line-height: 1.25;
       margin-bottom: 10px;    
     }
     .home .home-information .home-btn{
        width: 105px;
        font-size: 15px;
        font-weight: bold;
        border: 0;
        padding: 10px;
        cursor: pointer;
        }
    }
  

